<!--
  Generated template for the TextinputfocusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Text Input Focus</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div class="blur-area">
      <div class="wrap">

        <div class="search-control">
          <button class="back-to-segment" (click)="clearAllList()"><ion-icon name="arrow-back"></ion-icon></button>
          <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
        </div>
        

        <ion-list *ngIf="searchTerm != '' && searchTerm.length > 2" class="search-list">
          <div *ngFor="let item of items | search : searchTerm" class="search-list--item" #scrollList>
              <div class="wrap">
                <button class="search-list--item-close-btn">
                  <ion-icon name="close"></ion-icon>
                </button>
                <ion-item class="sli-item">
                    <ion-avatar item-start>
                        <div class="badge"><ion-icon name="logo-twitter"></ion-icon></div>
                        <img [src]="imgUrl(item.avatar)">              
                    </ion-avatar>
                    <h2>{{ item.title }}</h2>
                </ion-item>
                <div class="content">
                    <!-- <div [innerHtml]="htmlDiv"></div> -->
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    
                    <h3>Where can I get some?</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    <p>Suspendisse eleifend massa metus, et finibus arcu tempor quis. Aliquam dui nibh, pretium et lobortis a, pulvinar eget dui. Fusce et justo ullamcorper, efficitur diam sed, cursus mi. Nulla eros enim, egestas eget pellentesque ac, venenatis ut felis. Etiam pulvinar mi vel erat ornare, sit amet efficitur augue imperdiet. Nam sit amet ex tincidunt, faucibus leo vitae, viverra mauris. Praesent vulputate diam pretium ipsum ornare, nec dapibus augue venenatis. Pellentesque id pellentesque nisi, vel cursus sapien. Mauris luctus condimentum elit eget suscipit. Nunc diam risus, fermentum sit amet metus ultrices, efficitur ullamcorper nunc. Ut tincidunt consequat ligula in pretium. Donec nec finibus lorem. Phasellus vel tincidunt ante, in molestie justo. Phasellus dapibus nec dolor sed dignissim. Curabitur venenatis, metus sed dictum fermentum, enim metus dictum sapien, ut efficitur tellus orci vel libero.</p>
                </div>
              </div>
          </div>            
        </ion-list>
      </div>
  </div>

  <div>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        Kittens
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Puppies
      </ion-segment-button>
    </ion-segment>
  </div>
    
  <div [ngSwitch]="pet">

      <ion-list *ngSwitchCase="'puppies'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-puppy-1.jpg">
          </ion-thumbnail>
          <h2>Ruby</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-puppy-2.jpg">
          </ion-thumbnail>
          <h2>Oscar</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-puppy-3.jpg">
          </ion-thumbnail>
          <h2>Zoey</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-puppy-4.jpg">
          </ion-thumbnail>
          <h2>Otto</h2>
        </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'kittens'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-kitten-1.jpg">
          </ion-thumbnail>
          <h2>Luna</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-kitten-2.jpg">
          </ion-thumbnail>
          <h2>Milo</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-kitten-3.jpg">
          </ion-thumbnail>
          <h2>Bandit</h2>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/thumbnail-kitten-4.jpg">
          </ion-thumbnail>
          <h2>Nala</h2>
        </ion-item>
      </ion-list>
    </div>
    

</ion-content>
