page-expensechart {
    background-color: #00c273;
    .content-md,
    .toolbar-background-md,
    .toolbar-title-md,
    .bar-button-default-md{
        background-color: transparent;
        color: #fff;
    }

    .header-md::after{
        background: none;
    }

    .scroll-content{
        height: calc(100vh - 56px);
        overflow: hidden;
        &.changed{
            .card{
                .wrap{
                    //display: none;
                }
                &:not(.active){
                    .wrap{
                        //display: none;
                    }
                }
            }
        }
    }

    .scrolling-area{
        height: calc(100vh - 72px);
        overflow-y: auto;
    }

    .main-container{
        position: relative;
        overflow-y: auto;
        padding: 15px;
    }
}

.card{
    position: relative;
    //@include duration(0.1s);
    //@include delay(0s);

    // transition-property: position;
    // transition-duration: 1s;
    // transition-delay: 30s;
    
    
    .wrap{
        border: 1px solid #ddd;
        padding: 20px;
        box-shadow: 0 0 5px rgba(#000, 0.2);
        margin-bottom: 15px;
        background-color: #fff;
        color: #777777;
        border-radius: 3px;
    }
    //@extend .animated;

    //@include fadeOutLeft();
    //@include delay(1s);

    .card--name{
        font-size: 20px;
        display: block;
        margin-bottom: 30px;
    }

    .card--current-balance{
        position: absolute;
        z-index: 1;
        padding: 0 20px;
        color: $base;
        top: 48px;
        left: 0px;
        right: 0px;
        //transform: translateY(64px);
        
        transition: all 1s ease-in-out;
        // transition-property: position, top;
        // transition-duration: 3s, 3s;
        // transition-delay: 1s, 1s;
    
        .ccb---text{

        }
        .ccb---value{
            float: right;
        }
    }

    & + hr {
        margin-top: 20px;
    }

    .card--last-transaction{
        ion-icon{
            float: right;
            font-size: 25px;
        }
    }

    &.active{
        position: static;
        .card--current-balance {
            //position: static;
            top: 20px;
            //color: #fff;
            //transition: all 0.5s ease-in-out;
            // transition-property: position, top;
            // transition-duration: 5s, 5s;
            // transition-delay: 1s, 1s;
        }
    }

    &.master{
        .card--current-balance{
            color: #fff;
        }
        .wrap{
            background-color: $master-color;
            color: #fff;
            border-color: $master-color;
        }
    }

    &.visa{
        .card--current-balance{
            color: #fff;
        }
        .wrap{
            background-color: $visa-color;
            color: #fff;
            border-color: $visa-color;
        }
    }
} // Card


.expense-data{

    .expense-data--dater{
        text-align: center;
        margin-top: 50px;
        *{
            display: inline-block;
            padding: 5px 10px;
            vertical-align: middle;
            @include zoomIn();
            @include delay(0.2s);
        }
        .edd-prev{

        }
        .edd-next{

        }
        .edd-date{

        }
    }// expense-data--dater



} // .expense-data

$colors-list: #f45ecc #2d71ef #dedc51 #48c947 #ff5c72 #fca444 #bd60e9 #877aff;

.categories-panel{
    text-align: center;

    >ul{
        list-style: none;
        padding: 0;
        margin: 10px 0;
        display: flex;
        >li{
            flex: 0 0 100;
            & + li {
                margin-left: 14px;
            }
            // @for $i from 1 through 8 {

            //     &:nth-child(#{$i}n + 0 {
            //         padding-left: $i * 20px
            //     }
            // }animated
            @each $current-color in $colors-list {
                $i: index($colors-list, $current-color);
                &:nth-child( #{$i}n + 0) { 
                    .cp-progress{
                        .cp-progress--balance{
                
                            background-color: $current-color;
                        }
                    }
                }
            }

            .cp-progress--balance{
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }

        }   
    }

    .cp-amount{
        display: block;
        margin-bottom: 10px;
        @include zoomIn();
        @include delay(0.2s);
    }

    .cp-progress{
        background-color: rgba(#000,0.1);
        width: 30px;
        height: calc(100vh - 350px);
        display: flex;
        margin: auto auto 20px auto;
        border-radius: 35px;
        padding: 6px;
        align-items: flex-end;

        .cp-progress--balance{
            background-color: rgba(#fff,0.8);
            border: 2px solid #fff;
            width: 100%;
            height: 0%;
            border-radius: 35px;
            box-sizing: border-box;
        }
    }

    .cp-icon{
        background-color: rgba(#fff,0.2);
        color: #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 34px;
        width: 34px;
        height: 34px;
        display: table;
        margin: auto;
        @include fadeInUp();
    }

} // .categories-panel

.scroller-x{
    overflow-x: auto;
}